@model XProductsWeb.Models.ProductViewModel
@{
    ViewBag.Title = "Add a product";
}
<h2>Create</h2>

<span class="clearfix">
    @Html.ActionLink("Back to List", "Test", null, new { @class = "btn btn-default" })
    <button type="submit" class="btn btn-primary pull-right">Save</button>
</span>