@model XProductsWeb.Models.ProductEditViewModel

@{
    ViewBag.Title = "Edit a product";
}

<h2>Edit</h2>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { role = "form" }))
        {
            @Html.HiddenFor(model => Model.Product.Id)
            @Html.Partial("ProductForm", Model)
        }
    </div>
</div>
